# SPDX-License-Identifier: GPL-2.0-only
# Copyright (C) 2018-2020 Oplus. All rights reserved.
config OPLUS_FEATURE_MDMFEATURE
  tristate "config modify modem feature"
  default n
  help
    define this config to modify modem feature.