
source "drivers/input/touchscreen/oplus_touchscreen/Focal/FT8006/Kconfig"
source "drivers/input/touchscreen/oplus_touchscreen/Focal/ft3518/Kconfig"
source "drivers/input/touchscreen/oplus_touchscreen/Focal/ft8006s_aa/Kconfig"
source "drivers/input/touchscreen/oplus_touchscreen/Focal/ft3681/Kconfig"