# SPDX-License-Identifier: GPL-2.0-only
# Copyright (C) 2018-2020 Oplus. All rights reserved.
config OPLUS_FEATURE_SLABTRACE_DEBUG
	bool "SLABTRACE debugging on by default"
	depends on SLUB && SLUB_DEBUG
#	default y
	default n
	help
	  Boot with debugging on by default. SLUB boots by default with
	  the runtime debug capabilities switched off. Add for check
	  common kmalloc caches memleak.
