
#ifdef OPLUS_FEATURE_TP_BASIC


config TOUCHPANEL_SAMSUNG_S6SY791
#	default y
	bool "TP Samsung s6sy791 IC enable or not for OPLUS"
	---help---
	say Y to enable driver for Touchpanel using Samsung s6sy791

#endif

