
source "drivers/input/touchscreen/oplus_touchscreen/Samsung/S6SY791/Kconfig"
source "drivers/input/touchscreen/oplus_touchscreen/Samsung/S6SY792/Kconfig"
source "drivers/input/touchscreen/oplus_touchscreen/Samsung/S6SY761/Kconfig"
source "drivers/input/touchscreen/oplus_touchscreen/Samsung/S6D7AT0/Kconfig"
source "drivers/input/touchscreen/oplus_touchscreen/Samsung/S6SY771/Kconfig"

