config OPLUS_FEATURE_ACM
	bool "Enable Access Control Module"
	depends on OPLUS_SYSTEM_KERNEL
	default n
	---help---
	  Access Control Module device driver. The purpose of this module
	  is to prevent third-party apps from deleting media files illegally.
	  This module maintains a white list of apps. Apps in the whitelist
	  can delete media file without any constrains, while apps not int
	  the whitelist may not able to delete media files, instead, the files
	  to be deleted were moved to the recycle directory by Gallery.

config OPLUS_FEATURE_ACM_LOGGING
	bool "Enable ACM logging features"
	depends on OPLUS_FEATURE_ACM
	default n
	---help---
	  Enable logging features for ACM. Report delete information to Quality.
