
#ifdef OPLUS_FEATURE_TP_BASIC


config TOUCHPANEL_NOVA_NT36525
#	default y
	bool "TP nova nt36525 IC enable or not for OPLUS"
	---help---
	say Y to enable driver for Touchpanel useing nova nt36525

#endif

