# SPDX-License-Identifier: GPL-2.0-only
# Copyright (C) 2018-2020 Oplus. All rights reserved.

config DUMP_TASKS_MEM
	bool "dump all userspace process meminfo"
	default n
	help
	  dump all userspace process meminfo

config DUMP_MM_INFO
	bool "dump all userspace process meminfo"
	default n
	help
	  dump all userspace process meminfo
