# SPDX-License-Identifier: GPL-2.0-only
# Copyright (C) 2018-2020 Oplus. All rights reserved.
config OPLUS_FEATURE_QCOM_WATCHDOG
	tristate "qcom watchdog"
	default n
	depends on OPLUS_SYSTEM_KERNEL
	help
            enhance the qcom watchdog.
