config OPLUS_FW_UPDATE
    tristate "oplus fw update"
    help
        Say Y here if want to add fw update driver for the built-in oplus fw update.
        If unsure, say N.
        To compile this driver as a module, choose M here: the
        module will be called oplus_bsp_fw_update.
