# SPDX-License-Identifier: GPL-2.0-only
# Copyright (C) 2018-2020 Oplus. All rights reserved.
#change 'y' to 'n', if you want fo close phoenix feature
config OPLUS_FEATURE_PHOENIX
    bool "oplus phoenix project"
    default n
    help
      define this config to init oplus phoenix project.

config OPLUS_FEATURE_KMSG_WB
    tristate "oplus phoenix2.0 project"
    default n
    help
      define this config to init oplus phoenix2.0 project.

config OPLUS_FEATURE_PHOENIX_REBOOT_SPEED
    tristate "oplus phoenix project"
    default n
    help
      define this config to init oplus phoenix project.
