
#ifdef OPLUS_FEATURE_TP_BASIC


config TOUCHPANEL_HIMAX_HX83112B_NOFLASH
#	default y
	bool "TP himax hx83112b no-flash IC enable or not for OPLUS"
	---help---
	say Y to enable driver for Touchpanel useing himax hx83112b no-flash

#endif

