# SPDX-License-Identifier: GPL-2.0-only
# Copyright (C) 2018-2020 Oplus. All rights reserved.

config OPLUS_FEATURE_MIDAS
bool "config oplus midas device feature"
help
	This selects midas device driver

config OPLUS_FEATURE_BINDER_STATS_ENABLE
bool "config oplus midas binder stats feature"
help
	This selects midas binder stats device driver

config OPLUS_FEATURE_SET_ALL_VPU_LATENCY
bool "config oplus midas vpu power off latency setting feature"
help
	This selects midas vpu power off latency setting driver

config OPLUS_FEATURE_DISPCAP
bool "config oplus midas dispcap feature"
help
	This selects midas dispcap device driver

