# SPDX-License-Identifier: GPL-2.0-only
# Copyright (C) 2018-2020 Oplus. All rights reserved.

#ifdef OPLUS_FEATURE_ESIM
source "drivers/soc/oplus/misc/oplus_gpio/Kconfig"
#endif /* OPLUS_FEATURE_ESIM */
