# SPDX-License-Identifier: GPL-2.0-only
# Copyright (C) 2018-2020 Oplus. All rights reserved.

config OPLUS_FEATURE_LOWMEM_DBG
        bool "OPLUS Low Memory debug"
        default n
        help
          print memory usage when low mem occurs.
