
#ifdef OPLUS_FEATURE_TP_BASIC


config TOUCHPANEL_FOCAL_FT8006
#	default y
	bool "TP focal_ft8006 IC enable or not for OPLUS"
	---help---
	say Y to enable driver for Touchpanel useing focal ft8006

#endif

