
#ifdef OPLUS_FEATURE_TP_BASIC


config TOUCHPANEL_HIMAX_HX83112B
#	default y
	bool "TP himax hx83112b IC enable or not for OPLUS"
	---help---
	say Y to enable driver for Touchpanel useing himax hx83112b

#endif

