# SPDX-License-Identifier: GPL-2.0-only
# Copyright (C) 2018-2020 Oplus. All rights reserved.
config OPLUS_FEATURE_MISC
	bool "oplus misc feature"
	default n
	depends on OPLUS_SYSTEM_KERNEL
	help
      oplus misc feature(trigger dump when user press power key for 4s) .

config PARAM_READ_WRITE
	bool "Param partition read/write support"
	default n
	help
	if you want to read/write the param partition in kernel,
	then you must say Y here.

config BOOTLOADER_LOG
	tristate "show bootloader log"
	default n
	help
	  show bootloader log in kernel

config WB_KERNEL_LOG
	tristate "reserve kernel log to partition driver"
	default n


