# SPDX-License-Identifier: GPL-2.0-only
# Copyright (C) 2018-2020 Oplus. All rights reserved.
config OPLUS_FEATURE_FEEDBACK
  tristate "Oplus system feedback"
  default n
  depends on OPLUS_SYSTEM_KERNEL
  help
    define this config to init oplus system feedback.
