
#ifdef OPLUS_FEATURE_TP_BASIC


config TOUCHPANEL_SAMSUNG_S6SY771
#	default y
	bool "TP Samsung s6sy771 IC enable or not for OPLUS"
	---help---
	say Y to enable driver for Touchpanel using Samsung s6sy771

#endif

