# SPDX-License-Identifier: GPL-2.0-only
# Copyright (C) 2018-2020 Oplus. All rights reserved.
config OPLUS_FEATURE_SHUTDOWN_DETECT
	tristate "shutdown hang detect"
	default n
	depends on OPLUS_SYSTEM_KERNEL
	help
            define this config to enable shutdown_detect.
