# SPDX-License-Identifier: GPL-2.0-only
# Copyright (C) 2018-2020 Oplus. All rights reserved.
#change 'y' to 'n', if you want fo close theia feature
config OPLUS_FEATURE_THEIA
    tristate "theia project"
    default n
    help
      define this config to init theia project.
